:root {
  --title-color: #303030;
  --text-color: #555555;
  --white-text-color: #ffffff;
  --gray-text-color: #9da4bd;
  --active-text-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[class*='_container'] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* [class*='_img'] {
  display: inline-block;
} */

.title {
  margin: 20px 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.5px;
  color: var(--title-color);
}

.button {
  display: block;
  padding: 12px 30px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.9px;
  color: var(--white-text-color);
  text-transform: uppercase;

  border: 1px solid var(--active-text-color);
  border-radius: 25px;
  background-color: transparent;
}

.annotation {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-color);
}

.annotation::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background: rgba(157, 164, 189, 0.6);
}

/* header */

.header {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__img {
}

.header__menu {
  margin-right: auto;
}

.menu {
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link,
.contacts__link {
  display: block;
  /* padding-top: 20px;
  padding-bottom: 20px; */

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  color: var(--white-text-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--active-text-color);
}

.header__contacts {
  display: flex;
  align-items: center;
}

.contacts__link {
  display: block;
  margin-right: 40px;
}

.contacts__button {
}

/* main */

.page {
}

/* section banner */

.page__banner {
}

.banner {
  display: flex;
}

.banner__list {
  padding: 82px 0 58px 40px;
}

.banner__item {
}

.banner__link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 2px;
  color: var(--title-color);
}

.banner__wrap {
  padding: 272px 0 208px 100px;
  flex-grow: 1;
  background: url('../images/Slider-img-1.jpeg') right/cover no-repeat;
}

.banner__annotation {
  color: rgba(157, 164, 189, 0.6);
}

.banner__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  color: var(--white-text-color);
}

.banner__text {
  color: var(--text-color);
}

/* section about */

.page__about {
  display: flex;
}

.about {
  padding: 120px 0;
}

.about__list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.about__item {
  width: calc((100% - 30px) / 2);
}

.about__img {
}

.about__wrap {
  max-width: 470px;
}

.about__annotation {
}
.about__title {
}
.about__text {
  margin-bottom: 20px;
}

.about__text-long {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.85;
}

.about__button {
  color: var(--title-color);
}

/* section prices */

.page__prices {
}
.prices {
  padding: 120px 0;

  background: url('../images/Slider-img-2.jpeg') center/cover no-repeat;
}

.prices__annotation {
  color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  color: var(--white-text-color);
}

.prices__wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 44px;
}

.prices__list {
  width: 570px;
  padding: 30px 20px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices__item {
  display: flex;
  justify-content: space-between;
}

.prices__item:not(:last-child) {
  margin-bottom: 20px;
}

.prices__table {
}

.prices__row {
}

.prices__text {
  color: var(--gray-text-color);
}

.prices__button {
  margin: 0 auto;
}

/* section achievements */

.page__achievements {
}
.achievements {
  padding: 120px 70px 120px 100px;

  display: flex;
}

.achievements__list {
  max-width: 370px;
  margin-right: 130px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.achievements__item {
  color: var(--title-color);

  padding: 20px 24px;
  max-width: 170px;
  text-align: center;
  background-color: #f7f7f7;
}

.achievements__number {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.5px;
}

.achievements__plus {
  vertical-align: revert;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--active-text-color);
}

.achievements__text-about {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.achievements__wrap-text {
}

.achievements__annotation {
}

.achievements__title {
}
.achievements__text {
}

/* section barbers */

.page__barbers {
}

.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.barbers__annotation {
}

.barbers__title {
}

.barbers__list {
  display: flex;
  gap: 30px;
}

.barbers__item {
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.barbers__img {
}

.barbers__wrap-text {
  padding: 30px 0;
}

.barbers__name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: var(--title-color);
}

.barbers__description {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: var(--active-text-color);
}

.barbers__list-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers__item-social {
}

.barbers__item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #303030;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.barbers__item-link:hover,
.barbers__item-link:focus {
  color: var(--active-text-color);
}

.barbers__svg-social {
  fill: currentColor;
}

/* section portfolio */

.page__portfolio {
}

.portfolio {
  padding: 120px 0;
}

.portfolio__annotation {
  margin-bottom: 44px;
}

.portfolio__list {
  display: flex;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 30px) / 2);
}

.portfolio__img {
}

/* section contacts */

.page__contacts {
}

.contacts {
  padding: 120px 0;
  background: #191c26;
}

.contacts__container {
  display: flex;
}

.contacts__form {
  /* background-color: #191c26; */
}

.contacts__title {
  margin: 0 0 40px 0;
  color: var(--white-text-color);
}

.contacts__wrap-input {
  display: flex;
  margin-right: 30px;
  gap: 30px;
}

.contacts__input {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 1px;
  color: var(--gray-text-color);

  border: none;
  background-color: #191c26;
  border-bottom: 1px solid var(--gray-text-color);
}

.contacts__input::placeholder {
  text-transform: uppercase;
}

.contacts__input-area {
  width: 570px;
  height: 75px;
  margin-bottom: 44px;

  resize: none;
  border: none;
  background-color: #191c26;
  border-bottom: 1px solid var(--gray-text-color);
}

.contacts__button {
  display: block;
}

.contacts__wrap {
  /* background: #191c26; */
  padding-left: 100px;
}

.contacts__address {
  margin-bottom: 70px;
}

.contacts__list {
}

.contacts__item {
  max-width: 250px;
  margin-bottom: 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: inline-block;
  margin-right: 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.2px;
  color: var(--gray-text-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-text-color);
}

.contacts__icons {
  display: inline-block;
  stroke: currentColor;
  /* stroke: var(--active-text-color); */
}

.contacts__link-adrress {
  font-weight: 700;
}

.contacts__link-tel {
}

.contacts__link-email {
  text-decoration-line: underline;
}

.contacts__hours {
  margin-bottom: 20px;

  color: var(--white-text-color);
}

.contacts__text {
  color: var(--gray-text-color);
}

/* footer */

.footer {
  padding: 56px 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: var(--gray-text-color);
}

.footer__list {
  display: flex;
  gap: 40px;
}

.footer__item {
}

.footer__link {
  color: var(--title-color);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--active-text-color);
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
